# Скопируйте в .env и измените SECRET_KEY
SECRET_KEY=change-me-to-a-long-random-string
DEBUG=true
DATABASE_URL=sqlite:///./skillik.db
ACCESS_TOKEN_EXPIRE_MINUTES=10080
UPLOAD_DIR=./app/static/uploads
MAX_UPLOAD_MB=20
